@font-face {
    font-family: "KievitPro-Bold";
    font-display: swap;
    src: url("../fonts/KievitPro-Bold.woff") format("woff"), url("../fonts/KievitPro-Bold.woff2") format("woff2");
    font-weight: initial;
    font-style: initial;
}

@font-face {
    font-family: "KievitPro-ExtraBold";
    font-display: swap;
    src: url("../fonts/KievitPro-ExtraBold.woff") format("woff"), url("../fonts/KievitPro-ExtraBold.woff2") format("woff2");
    font-weight: initial;
    font-style: initial;
}

@font-face {
    font-family: "KievitPro-Medium";
    font-display: swap;
    src: url("../fonts/KievitPro-Medium.woff") format("woff"), url("../fonts/KievitPro-Medium.woff2") format("woff2");
    font-weight: initial;
    font-style: initial;
}

@font-face {
    font-family: "KievitPro-Regular";
    font-display: swap;
    src: url("../fonts/KievitPro-Regular.woff") format("woff"), url("../fonts/KievitPro-Regular.woff2") format("woff2");
    font-weight: initial;
    font-style: initial;
}

@font-face {
    font-family: "rouble";
    font-display: swap;
    src: url("../fonts/rouble.woff") format("woff"), url("../fonts/rouble.woff2") format("woff2");
    font-weight: initial;
    font-style: initial;
}