@import "nulling-styles";
@import "fonts";
@import "nouislider";

body, input {
    background-color: white;
}

._container {
    max-width: 1250px;
    width: 100%;
    margin: 0 auto;
}

.content {
    &__wrapper {
        display: flex;
        padding-top: 56px;
    }

    &__filter {
        margin-right: 20px;
        height: min-content;
    }

    &__product {
        display: flex;
    }
}

.content_inner, .filter__inner {
    position: relative;
}

.filter {
    &__option {
        width: 300px;
        height: 66px;

        margin-bottom: 20px;
        border: 1px solid #F3EFEA;
        box-sizing: border-box;
        border-radius: 2px;
        overflow: hidden;
        transition: height 300ms ease-in-out;

        &_header {
            position: relative;
            display: flex;

            padding: 24px 21px;
            border-bottom: 1px solid #F3EFEA;
            cursor: pointer;
        }

        &_text {
            font-family: "KievitPro-Bold";
            font-weight: 500;
            font-size: 15px;
            line-height: 17px;
            color: #000000;  
            user-select: none;          
        }

        &_arrow {
            display: block;

            position: absolute;
            top: 50%;
            right: 21px;

            width: 8.57px;
            height: 5.3px;
            margin-top: -2.5px;
            transform: rotate(0deg);
            transition: transform .2s ease-in-out;
            background: url(../img/product/rating/Stroke.svg) center/cover no-repeat;
        }

        &_footer {
            padding: 30px 21px;
            &-inner {
                position: relative;
            }
        }

        &_input {
            width: 100%;
            height: 40px;
            
            padding: 0 0 0 15px;
            border: 1.6px solid #D5CDBE;
            border-radius: 2px;

            font-family: "KievitPro-Regular";
            font-size: 15px;
            line-height: 12px;
            font-feature-settings: 'pnum' on, 'lnum' on;
            color: #837F78;
            border-radius: 2px;
        }

        &_location {
            display: none;
            position: absolute;
            left: 0;
            right: 0;
            z-index: 50;

            padding: 25px 30px 0 30px;
            background: #FFFFFF;
            box-shadow: 0px 10px 30px rgba(31, 21, 1, 0.1);
            border-radius: 2px;
            &-item {
                margin-bottom: 20px;

                font-family: "KievitPro-Medium";
                font-size: 15px;
                line-height: 20px;
                color: #000000;
                cursor: pointer;
            }
        }

        &_label {
            display: flex;
            align-items: center;

            margin-bottom: 21px;
            cursor: pointer;

            &:last-child {
                margin-bottom: 0;
            }

            &:hover .filter__stars_box {
                border: 2px solid #c25652;
            }
        }

        &_booking {
            display: flex;
            flex-direction: row;
            align-items: center;

            padding: 11px 15px;
            margin-right: 8px;
            background: #F9F7F2;
            border-radius: 50px;

            font-family: "KievitPro-Medium";
            font-size: 15px;
            font-feature-settings: 'pnum' on, 'lnum' on;
            color: #000000;
            cursor: pointer;
            user-select: none;
            transition: background .05s ease-in-out;

            &:hover {
                background: #FDE283;
            }
        }

        &:nth-child(3) {
            .filter__option_footer {
                display: flex;
                flex-wrap: wrap;
            }
        }
    }

    &__stars {
        &_input {
            display: none;
        }

        &_box {
            position: relative;
            display: inline-block;

            width: 20px;
            height: 20px;

            margin-right: 7.5px;
            border: 2px solid #D5CDBE;
            box-sizing: border-box;
            border-radius: 2px;
            background: #FFFFFF;
            transition: border .03s ease-in-out;

            &::before {
                content: '';
                display: flex;
                position: absolute;
                top: -2px;
                left: -2px;

                width: 20px;
                height: 20px;

                opacity: 0;
                transition: opacity .15s ease-in-out;
                background: url(../img/product/rating/Group.svg) center/cover no-repeat;
            }
        }

        &_input:checked + &_box::before {
            opacity: 1;
        }

        &_text {
            font-family: "KievitPro-Medium";
            font-size: 15px;
            line-height: 20px;
            font-feature-settings: 'pnum' on, 'lnum' on;
            color: #000000;
            mix-blend-mode: normal;
            user-select: none;
        }
    }

    &__discharge {
        display: flex;
        justify-content: center;
        margin-top: 30px;
        &_text {
            position: relative;
            width: max-content;
            padding-left: 26px;

            font-family: "KievitPro-Medium";
            font-size: 15px;
            line-height: 28px;
            font-feature-settings: 'pnum' on, 'lnum' on;
            color: #0E0E0E;
            cursor: pointer;

            &::before {
                content: '';
                position: absolute;
                top: 50%;

                width: 20px;
                height: 20px;

                margin: -10px 0 0 -26px;
                background: url(../img/product/rating/Group-5.svg) center/cover no-repeat;
                cursor: pointer;
            }
        }
    }
}

.product {
    padding-bottom: 28px;
    margin-bottom: 28px;
    border-bottom: 1px solid #F3EFEA;
    &__img {
        width: 280px;
        height: 290px;

        margin-right: 23px;
    }

    &__info {
        max-width: 385px;
        width: 100%;
    }

    &__subtitle {
        font-family: "KievitPro-Medium";
        font-size: 13px;
        line-height: 17px;
        color: #515151;
    }

    &__title {
        margin: 6px 0 18px 0;

        font-family: "KievitPro-Bold";
        font-feature-settings: 'pnum' on, 'lnum' on;
        font-size: 21px;
        line-height: 24px;
        color: #000000;
    }

    &__description {
        display: flex;
    }

    &__rating {
        display: flex;
        &_star {
            display: flex;
        }

        &_item {
            width: 12.8px;
            height: 12px;

            margin-right: 4.2px;
            background: url(../img/product/rating/Звезда.svg) center/cover no-repeat;
        }

        &_text {
            margin-left: 4px;

            font-family: "KievitPro-Bold";
            font-feature-settings: 'pnum' on, 'lnum' on;
            font-size: 13px;
            line-height: 17px;
            color: #212121;
        }
    }

    &__type {
        margin-left: 7px;
        border: 1px solid #D4D4D4;
        box-sizing: border-box;
        border-radius: 2px;
        &_text {
            display: flex;
            align-items: center;
            padding: 1px 7px;

            font-family: "KievitPro-Medium";
            text-align: center;
            font-size: 13px;
            line-height: 17px;
            color: #515151;
        }
    }

    &__text {
        margin-top: 15px;

        font-family: "KievitPro-Medium";
        font-feature-settings: 'pnum' on, 'lnum' on;
        font-size: 14px;
        line-height: 20px;
        color: #000000;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__review {
        display: flex;
        align-items: center;

        padding: 25px 16px;
        width: 237px;

        background: #F9F7F2;
        &_text {
            margin-left: 26px;

            font-family: "KievitPro-Regular";
            font-size: 14px;
            line-height: 17px;
            font-feature-settings: 'pnum' on, 'lnum' on;
            color: #959595;

            &::before {
                content: '';
                position: absolute;
                width: 17px;
                height: 16px;

                margin-left: -25px;
                background: url(../img/product/rating/Рейтинг.svg) center/cover no-repeat;
            }
        }

        &_header {
            display: flex;
            margin-bottom: 20px;
        }

        &_stock-text {
            margin-left: 15px;
            &::before {
                content: '';
                position: absolute;
                width: 12.8px;
                height: 12px;

                margin: 2px 0 0 -15px;
                background: url(../img/product/rating/Звезда-1.svg) center/cover no-repeat;
            }
        }

        &_text-value {
            margin: 0 12px;
        }

        &_text-value, &_stock-text, &_value {
            font-family: "KievitPro-Bold";
            font-size: 14px;
            line-height: 17px;
            font-feature-settings: 'pnum' on, 'lnum' on;
            color: #212121;
        }

        &_main-text {
            font-family: "KievitPro-Regular";
            font-size: 13px;
            line-height: 17px;
            font-feature-settings: 'pnum' on, 'lnum' on;
            color: #515151;

            & span {
                font-family: "KievitPro-ExtraBold";
            }
        }
    }
    
    &__price {
        display: flex;
        align-items: center;
        &_text {
            margin-left: 7px;

            font-family: "KievitPro-Bold";
            font-size: 17px;
            line-height: 17px;
            font-feature-settings: 'pnum' on, 'lnum' on;
            color: #000000;
        }

        &_to-book {
            display: flex;
            align-items: center;
            justify-content: center;
            
            width: 140px;
            height: 50px;
            
            margin-left: 11px;
            background: #FF4641;
            border-radius: 2px;
            
            font-family: "KievitPro-Regular";
            font-size: 14px;
            line-height: 17px;
            color: white;
            font-feature-settings: 'pnum' on, 'lnum' on;
        }
    }
}

.product__price_text-currency, #currency {
    font-family: "rouble";
}

#currency {
    margin-left: 5px;
}

.noUi-tooltip {
    position: absolute;
    top: -35px;
    right: 0;

    padding: 7px 16px;

    background: #212121;
    border-radius: 2px;
    opacity: 0;

    font-family: "KievitPro-Regular";
    font-size: 13px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
    transition: opacity .08s ease-in-out;
    pointer-events: none;

    &::before {
        content: '';
        position: absolute;
        width: 9px;
        height: 6px;
        right: 6px;
        bottom: -2px;
        background: #212121;
        transform: rotate(-228deg);
    }

    &::after {
        content: 'i';
        margin-left: 2px;
        font-family: "rouble";
    }
}

.noUi-horizontal .noUi-handle {
    position: relative;
    width: 22px;
    height: 22px;

    top: -10px;

    box-shadow: inherit;
    border-radius: 50%;
    background: #FF4641;
    cursor: pointer;

    &:hover .noUi-tooltip {
        opacity: 1;
    }
}

#messageNotFound {
    display: none;
    margin: 30px;
    font-family: "KievitPro-Bold";
    font-size: 15px;
    color: #000000;
    text-align: center;
}

#moreItems {
    display: table;
    margin: 0 auto;
    padding: 15px 23px;
    margin-bottom: 50px;

    border: 2px solid #F0EADE;
    border-radius: 2px;

    font-family: "KievitPro-Bold";
    font-size: 15px;
    line-height: 17px;
    color: #000000;
    cursor: pointer;
}

.noUi-handle::before {
    width: 12px;
    height: 12px;

    top: 21%;
    left: 23%;

    border-radius: 50%;
    background: #FFFFFF;
}

.noUi-base, .noUi-connects, .noUi-connect, .noUi-horizontal {
    height: 3px;
}

.noUi-connect {
    background: #FF4641;
}

.noUi-connects {
    background: #DFDACE;
}

.noUi-handle, .noUi-target {
    border: inherit;
}

.noUi-target {
    box-shadow: inherit;
}


.is-checked {
    background: #FDE283;
}

.hide, .noUi-handle:after {
    display: none;
}